* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

html,
body {

    cursor: url('Assets/Images/green-small-cursor.png'), auto;
}


body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;


}

section {
    width: 100vw;
    height: 100vh;

}

section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-buttons-div {
    width: 50vw;
    height: 20vh;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#home-buttons-div button {
    width: 16vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;     
    border: 3px solid white;
    color: white;
}

#donate-home-button{
    background-color: #003329;
    cursor: url('Assets/Images/white-big-cursor.png'), auto;
}

#membership-home-button{
    background-color: transparent;
    cursor: url('Assets/Images/green-big-cursor.png'), auto;
}

section:nth-of-type(2) {
    background-color: #003329;
    z-index: 999;
    position: relative;
    cursor: url('Assets/Images/white-small-cursor.png'), auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 110vh ;

}

section:nth-of-type(2) #section2-img-main-div{
    display: flex;
}

section:nth-of-type(2) #section2-img-main-div .section-2-img-inner-div img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    
}

section:nth-of-type(2) #section2-heading{
    font-size: 80px;
    color: #1f413a;
    
    
}



#section3{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

#section3-heading{
    font-size: 80px;
    color: #1f413a;
    text-align: center;
}
#map{
    width: 50vw;
    height: 400px;
    border: 10px solid white;
}


section:nth-of-type(2) #section2-about-us-text-main-div{
    width: 50vw;
    text-align: center;
    color: white;
    font-size: 20px;
    
}

section:nth-of-type(2) .section-2-img-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section:nth-of-type(2) .section-2-img-inner-div p {
    
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 14px;
    width: 25vw;
}

section:nth-of-type(2) .section-2-img-inner-div h2
{
    color: white;
}

#banner-text-section2{
    background-color: white;
    color: #003329;
    font-size: 28px;
    white-space: nowrap ;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 700;
}

#banner-text-section2 span{
    animation: marquee 40s infinite linear;
    padding: 20px 0;
}

@keyframes marquee {
	/* Element one fully ON screen at left-edge of container. */
	from {
		transform: translateX( 0% );
	}
	/* Element one fully OFF screen (just beyond left-ledge of container). */
	to {
		transform: translateX( -100% );
	}
}

section:nth-of-type(3) {
    background-color: #003329;
    z-index: 99;
    position: relative;
    cursor: url('Assets/Images/white-small-cursor.png'), auto;

}

section:first-of-type img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;

}

#plant {
    z-index: 100;
}



#main-heading {
    font-size: 80px;
    z-index: 1;
    color: white;

}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    position: fixed;
    background-color: transparent;
    z-index: 99999;


    transition: 0.5s;
    /*Temporary*/


}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

#logo-div img {
    width: 80px;
}

#horizontol-scroll-div-place-holder,
#logo-div {
    width: 8vw;
}

#nav-div {
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;


}

#nav-div ul {
    display: flex;
    gap: 20px;

}

#nav-div ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    padding: 15px 20px;
    font-weight: 600;
}




.nav-list-item {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: url('Assets/Images/green-big-cursor.png'), auto;
    background-color: transparent;
    color: #003329;
}

#horizontol-scroll-div {

    background-color: #003329;
    width: 3vw;
    z-index: 9999;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.position-scroll-div {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.5s;


}


.active-list-item {
    background-color: #003329;
    color: white;
}