* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;

}

p {
    font-weight: 200;

}

html {
    scroll-behavior: smooth;
    cursor: url('Assets/Images/cursor.png'), auto;
}

.button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid white;
    text-align: center;
}

.green-button
{
    background-color: #003329;
    color: white;
}

.white-button
{
    background-color: white;
    color: #003329;
}




body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;


}

section {
    width: 100vw;

}





/*******************************
*           NAVBAR             *
*******************************/

.header-solid {
    background-color: #ffffff73 !important;
    transition: 1s;
}

.header-transparent {
    background-color: transparent !important;
    transition: 1s;
}

#nav-div {
    width: 80%;
    /* border: 1px solid rgb(255, 0, 0); */
}

#nav-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

#nav-div ul li {
    list-style: none;
    font-size: 20px;
}

.nav-list-item a {
    color: #003329;
    width: 135px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
}

.nav-list-item a.active {
    color: white;
    background-color: #003329;
}

header {
    width: 100vw;
    padding: 7px 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99999;
    transition: background-color .15s;
    /*  */
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    /* border: 1px solid rgb(255, 0, 0); */
}

#logo-div img {
    width: 80px;
}





/*******************************
*         SECTION 1            *
*******************************/
#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-buttons-div {
    width: 50vw;
    height: 20vh;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#home-buttons-div button {
    width: 16vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
}

#donate-home-button {
    background-color: #003329;
}

#membership-home-button {
    background-color: transparent;
}
#section1 img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

#plant {
    z-index: 100;
}

#main-heading {
    font-size: 80px;
    z-index: 1;
    color: white;

}





/*******************************
*         SECTION 2            *
*******************************/
#section2 {
    padding: 30px 0;
    background-color: #003329;
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

#section2-img-main-div {
    display: flex;
    
}

#section2-img-main-div .section-2-img-inner-div img {
    width: 300px;
    height: 200px;
    object-fit: cover;

}

#section2-heading {
    font-size: 80px;
    color: #1f413a;
    
    line-height: 1;
}

#section2-about-us-text-main-div {
    width: 50vw;
    text-align: center;
    color: white;
    font-size: 20px;
    

}

.section-2-img-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-2-img-inner-div p {

    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 14px;
    width: 25vw;
}

.section-2-img-inner-div h2 {
    color: white;
}

#banner-text-section2 {
    background-color: white;
    color: #003329;
    font-size: 28px;
    white-space: nowrap;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 700;
}

#banner-text-section2 span {
    animation: marquee 40s infinite linear;
    padding: 20px 0;
}

@keyframes marquee {

    /* Element one fully ON screen at left-edge of container. */
    from {
        transform: translateX(0%);
    }

    /* Element one fully OFF screen (just beyond left-ledge of container). */
    to {
        transform: translateX(-100%);
    }
}





/*******************************
*         SECTION 3            *
*******************************/
#section3 {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #003329;
    z-index: 99;
    position: relative;
    
}

#section3-heading {

    font-size: 80px;
    color: #1f413a;
    text-align: center;
    
    line-height: 1;
}

#map {
    width: 60vw;
    height: 300px;
    border: 10px solid white;
}

#section3-button-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}





/*******************************
*         SECTION 4            *
*******************************/
#section4 {
    width: 100vw;
    background-color: #003329;
    position: relative;
    z-index: 999;
    padding: 30px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    
}

#section4-heading {
    font-size: 80px;
    color: #1f413a;
    text-align: center;
    line-height: 1;
    

}

#section4-para-button-div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#section4-img-div {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#section4-para-div {
    width: 50%;
    padding: 0 70px;
    
    height: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


#section4-img-div img {
    width: 400px;
    border: 10px solid white;
}

#section4-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section4-button-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#section4-button-div #search-oppurtunities {

    width: 19vw;
    background-color: white;
    color: #003329;
}

#section4-button-div button {
    width: 16vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background-color: #003329;
    text-align: center;
}

#why-WCS-div {
    display: flex;
    border: 1px dashed #3b6960;
    border-radius: 20px;
    padding: 40px;
    width: 93vw;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;

}

.why-WCS-sub-divs {
    width: 45%;
    color: white;
    display: flex;
    gap: 10px;
    height: 180px;
}

.why-WCS-sub-divs-imgs img {
    width: 85px;
}

.why-WCS-sub-divs-p p {
    font-size: 20px;
}

.why-WCS-sub-divs-p h3 {
    font-size: 25px;
}





















#section5 {
    width: 100vw;
    background-color: #003329;
    position: relative;
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

#section5-heading-div {
    width: 100vw;
    text-align: center;

}

#section5-heading-div h2 {
    font-size: 80px;
    color: #1f413a;
}

#section5-main-news-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 93vw;
    padding: 20px;
    gap: 20px;
    border: 1px dashed #536e69;
    border-radius: 20px;

}

#section5-sub-div-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.section5-sub-sub-div-left {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.493);
    background-color: #1f413a;
    padding: 10px;
}

.section5-sub-sub-div-left-img {
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.section5-sub-sub-div-left-img img {
    width: 100%;


}

.section5-sub-sub-div-left-date-location {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.section5-sub-sub-div-left-date-location span {
    color: #536e69;
    font-weight: 800;
}

.section5-sub-sub-div-left-title {
    width: 100%;
    padding: 7px;
    text-align: center;
}

.section5-sub-sub-div-left-title h4 {
    font-weight: 600;
    font-size: 20px;
}

#section5-sub-div-middle {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.493);
    background-color: #1f413a;
}

#newsroom-middle-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section5-sub-sub-div-middle-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

#section5-sub-sub-div-middle-title h3 {
    font-size: 40px;
    color: white;

}

#section5-sub-sub-div-middle-post {
    width: 100%;

}

.section5-sub-sub-div-middle-img {
    overflow: hidden;
    height: 350px;
    border-radius: 20px;
}

.section5-sub-sub-div-middle-img img {
    width: 100%;
    /*temporary*/
}

.section5-sub-sub-div-middle-date-location {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 7px;
}

.section5-sub-sub-div-middle-date-location span {
    color: rgba(255, 255, 255, 0.178);
    font-weight: 800;
}

.section5-sub-sub-div-middle-post-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section5-sub-sub-div-middle-post-title h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}




#section5-sub-sub-div-middle-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.section5-sub-div-middle-post-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003329;
    padding: 20px;


}

.section5-sub-div-middle-post-button button {
    width: 25vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    color: #003329;

}

#section6 {
    background-color: #003329;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 50vh;
    .
}

#section6-heading-div h2 {
    font-size: 40px;
    color: white;
}

#section6-p-div {
    width: 70vw;
}

#section6-p-div p {
    color: white;
    text-align: center;
}

#section6-button-div {
    display: flex;
    gap: 15px;
}

#section6-button-div button {
    width: 10vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    color: #003329;
    font-weight: 700;
}


footer {
    background-color: #161817;
    z-index: 999;
    position: relative;
    display: flex;
    width: 100vw;
    color: white;
}

#footer-div-right {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    flex-direction: column;

}

#footer-div-left {
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.178);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    flex-direction: column;

}

#about-us-footer-div {
    width: 90%;
    display: flex;
    flex-direction: column;
}

#social-footer-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.social-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 20px;
    gap: 10px;

}

.social-buttons-text {
    display: inline-block;
    width: 80%;

}

.social-buttons-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}

.news-img-div img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.news-img-div {

    width: 12%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-sub-div {
    padding: 10px;
    display: flex;
    gap: 10px;
}

#lastest-news-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-heading-div {
    width: 80%;
    text-align: left;
}

.news-heading-div h3 {

    padding-left: 10px;
    font-weight: 200;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-bottom: hidden;
}

#footer-div-right {
    display: flex;
    flex-direction: column;
}

#important-links-div-footer {
    width: 90%;
}

.links-div {
    width: 100%;
    padding: 10px 0;
}

.links-div a {
    color: white;
    text-decoration: none;
    font-weight: 200;

}

#quick-contact-div-footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick-contact-sub-headings h4 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.411);
}



.quick-contact-info-div ul li {
    list-style: none;
    padding: 10px 0;
    font-weight: 200;
}

#cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 50%;
    z-index: 9999;
    transition: 200ms;
    pointer-events: none;
}

button,
li {
    cursor: url('Assets/Images/cursor.png'), auto;
}