* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;

}

p {
    font-weight: 200;

}

html {
    scroll-behavior: smooth;
    cursor: url('Assets/Images/cursor.png'), auto;
}

.button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid white;
    text-align: center;
}

.green-button
{
    background-color: #003329;
    color: white;
}

.white-button
{
    background-color: white;
    color: #003329;
}




body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;


}

section {
    width: 100vw;

}

#cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 50%;
    z-index: 9999;
    transition: 200ms;
    pointer-events: none;
}

button,
li {
    cursor: url('Assets/Images/cursor.png'), auto;
}



/******************/

#main-heading {
  transform: translateY(calc(var(--scroll) * 2));
}

.hero-section-img--hill3 {
  transform: translateX(calc(var(--scroll) * 0.3));
}

.hero-section-img--hill4 {
  transform: translateX(calc(var(--scroll) * -0.3));
}

.hero-section-img--leaf {
  transform: translateX(calc(var(--scroll) * 1.3));
}

.hero-section-img--hill1 {
  transform: translateY(calc(var(--scroll) * 0.9));
}





/*****************/





/*******************************
*           NAVBAR             *
*******************************/

.header-solid {
    background-color: #ffffff73 !important;
    transition: 1s;
}

.header-transparent {
    background-color: transparent !important;
    transition: 1s;
}

#nav-bar {
    width: 80%;
    /* border: 1px solid rgb(255, 0, 0); */
}

#nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

#nav-bar ul li {
    list-style: none;
    font-size: 20px;
}

.nav-button a {
    color: #003329;
    width: 135px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
}

.nav-button a.active {
    color: white;
    background-color: #003329;
}

header {
    width: 100vw;
    padding: 7px 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99999;
    transition: background-color .15s;
    /*  */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    /* border: 1px solid rgb(255, 0, 0); */
}

.logo img {
    width: 80px;
}





/*******************************
*         SECTION 1            *
*******************************/
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-buttons-div {
    width: 50vw;
    height: 20vh;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#home-buttons-div button {
    width: 16vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
}

#donate-home-button {
    background-color: #003329;
}

#membership-home-button {
    background-color: transparent;
}
#hero-section img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

#plant {
    z-index: 100;
}

#main-heading {
    font-size: 80px;
    z-index: 1;
    color: white;

}





/*******************************
*         SECTION 2            *
*******************************/
.section-about {
    padding: 30px 0;
    background-color: #003329;
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-cards {
    display: flex;
}

.about-cards .about-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.about-heading {
    font-size: 80px;
    color: #1f413a;
    line-height: 1;
}

.about-text-container {
    width: 50vw;
    text-align: center;
    color: white;
    font-size: 20px;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card-text {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 14px;
    width: 25vw;
}

.about-card h2 {
    color: white;
}

.about-banner {
    background-color: white;
    color: #003329;
    font-size: 28px;
    white-space: nowrap;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.about-banner span {
    animation: marquee 30s infinite linear;
    padding: 20px 0;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}






/*******************************
*         SECTION 3            *
*******************************/
#section3 {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #003329;
    z-index: 99;
    position: relative;
}

.section-heading {
    font-size: 80px;
    color: #1f413a;
    text-align: center;
    line-height: 1;
}

.map {
    width: 60vw;
    height: 300px;
    border: 10px solid white;
}

.button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}






/*******************************
*         SECTION 4            *
*******************************/
#section4 {
    width: 100vw;
    background-color: #003329;
    position: relative;
    z-index: 999;
    padding: 30px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

/* ---------- Heading ---------- */

.section-heading {
    font-size: 80px;
    color: #1f413a;
    text-align: center;
    line-height: 1;
}

.section-heading-wrapper {
    display: flex;
    justify-content: center;
}

/* ---------- Main Content Layout ---------- */

.para-button-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    width: 400px;
    border: 10px solid white;
}

.para-wrapper {
    width: 50%;
    padding: 0 70px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-para {
    font-size: 20px;
}

/* ---------- Buttons ---------- */

.button-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-wrapper .search-opportunities {
    width: 19vw;
    background-color: white;
    color: #003329;
}

.button-wrapper button,
.default-button {
    width: 16vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background-color: #003329;
    text-align: center;
}

/* ---------- WHY WCS Section ---------- */

.why-wcs-wrapper {
    display: flex;
    border: 1px dashed #3b6960;
    border-radius: 20px;
    padding: 40px;
    width: 93vw;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.why-wcs-item {
    width: 45%;
    color: white;
    display: flex;
    gap: 10px;
    height: 180px;
}

.why-wcs-img img {
    width: 85px;
}

.why-wcs-text h3 {
    font-size: 25px;
}

.why-wcs-text p {
    font-size: 20px;
}






/*******************************
*         SECTION 5            *
*******************************/
/* SECTION WRAPPER */
#section5 {
    width: 100vw;
    background-color: #003329;
    padding: 30px 0;
    position: relative;
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* SECTION HEADING */
.section-heading-wrapper {
    width: 100%;
    text-align: center;
}

.section-heading {
    font-size: 80px;
    color: #1f413a;
}

/* MAIN NEWS LAYOUT */
.main-news-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 93vw;
    padding: 30px;
    border: 1px dashed #536e69;
    border-radius: 20px;
}

/* COLUMNS */
.news-column {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* NEWS CARD (LEFT/RIGHT) */
.news-card {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #1f413a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid rgba(255, 255, 255, 0.178);
}

.news-card-img {
    height: 50%;
    overflow: hidden;
}

.news-card-img img {
    width: 100%;
}

.news-card-date-location {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.news-card-date-location span {
    color: #536e69;
    font-weight: 500;
    font-size: 11px;
}

.news-card-title {
    width: 100%;
    padding: 7px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.178);
    color: #003329;
}

.news-card-title h4 {
    font-weight: 700;
    font-size: 15px;
}

/* ---------- MIDDLE SECTION ---------- */

.news-middle-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.middle-section-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-section-title h3 {
    font-size: 50px;
    color: white;
    line-height: 1;
}

.middle-news-card {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: #1f413a;
    border: 2px solid rgba(255, 255, 255, 0.178);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle-card-img {
    height: 300px;
    overflow: hidden;
}

.middle-card-img img {
    width: 100%;
}

.middle-card-date-location {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.178);
}

.middle-card-title {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    color: #003329;
}

.middle-card-title h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/* MIDDLE BUTTON */
.middle-section-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003329;
}

.middle-section-button button {
    padding: 10px 90px;
}











/*******************************
*         SECTION 6            *
*******************************/
#section6 {
    background-color: #003329;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0 60px 0;
}

.section-heading {
    width: 100%;
    text-align: center;
}

.section-heading h2 {
    font-size: 40px;
    color: white;
    line-height: 1;
}

.section-paragraph {
    width: 70%;
}

.section-paragraph p {
    color: white;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 15px;
}

.button-group button {
    width: 10vw;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    color: #003329;
    font-weight: 700;
}








/*******************************
*           FOOTER             *
*******************************/


.site-footer {
    background-color: #161817;
    z-index: 999;
    position: relative;
    display: flex;
    width: 100vw;
    color: white;
}

.footer-left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    flex-direction: column;
}

.footer-right {
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.178);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    flex-direction: column;
}

/* ABOUT US */
.about-us-footer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* SOCIAL */
.social-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.social-button {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 20px;
    gap: 10px;
}

.social-button-text {
    display: inline-block;
    width: 80%;
}

.social-button-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

/* NEWS */
.news-img img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.news-img {
    width: 12%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-item {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.latest-news {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-heading {
    width: 80%;
    text-align: left;
}

.news-heading h3 {
    padding-left: 10px;
    font-weight: 200;
}

.site-footer hr {
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-bottom: hidden;
}

/* LINKS */
.important-links {
    width: 90%;
}

.link-item {
    width: 100%;
    padding: 10px 0;
}

.link-item a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

/* QUICK CONTACT */
.quick-contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-heading h4 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.411);
}

.contact-info ul li {
    list-style: none;
    padding: 10px 0;
    font-weight: 200;
}


